# Ignore the Goodbooks-10k Dataset or other datasets included! These should be downloaded separately.
Goodbooks-10k Dataset/

# Custom user configuration
config.json

#My virtual environment
/my_env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


#CSV files storing case information
\docs

# vscode
/.vscode